* {
  padding: 0px;
  margin: 0;
}

.main {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}
.bg {
  background-size: cover;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  /* opacity: 0.5; */
  filter: brightness(40%);
}

.header {
  display: flex;
  height: 60px;
  width: 50%;
  float: right;
  margin-top: 30px;
  /* border: 1px solid black; */
  justify-content: space-around;
  margin-right: 20px;
}
.header_tag {
  font-size: 12px;
  display: inline-block;
  height: 45px;
  width: 75px;
  text-decoration: none;
  text-align: center;
  color: white;
}
.header_tag:hover {
  color: red;
  border-bottom: 2px solid red;
}

.welcome {
  position: absolute;
  top: 28%;
  width: 99%;
  text-align: center;
}

.welcome h1 {
  font-size: 45px;
}
.welcome .P {
  font-size: 24px;
}

.hr {
  display: inline-block;
  transform: scaleX(6);
  color: rgb(192, 195, 197);
  width: 90px;
}

.red-dot {
  display: inline-block;
  width: 12px; /* Adjust the width as needed */
  height: 12px; /* Adjust the height as needed */
  background-color: rgb(228, 47, 47);
  border-radius: 50%;
  position: relative;
  top: -7px;
  margin: 0px 8px;
}

.icons {
  position: absolute;
  left: 40%;
}
.loremdiv {
  width: 520px;
  margin: auto;
  padding-top: 40px;
}

.lorem {
  font-size: 14px;
}

.b {
  width: 120px;
  height: 32px;
  background-color: transparent;
  margin: 30px 0;
  color: white;
  border: none;

  font-size: 13px;
}
.b1 {
  width: 140px;
  margin-right: 10px;
  background-color: rgb(255, 64, 30);
}
.b2 {
  border: 1px solid white;
}
